body{
    background-color: rgb(232, 232, 232);
}

.formulario{
    margin:  0 auto;
    width: 900px;
   
}
.cuerpo{
 
    width: auto;
    margin: 50px auto;
  
}

.minicomponete{
    margin: 0 10%;
}

@media (max-width: 768px) { 
    
    .formulario{
        margin:  0 auto;
        width: 500px;
        align-items: center;
    }

    .minicomponete{
        margin: 0 5%;
    }

 }